@import "tailwindcss";

/* Font-Family Start  */
@theme {
   --font-poppind: "Poppins", sans-serif;
}

/* Font-Family End  */

/* Common satrt  */
.container {
   @apply max-w-291.25 mx-auto px-2 
}

.flexProperty {
   @apply md:flex  items-center
}

.comonTg {
   @apply text-[#203239] text-3xl md:text-[36px] font-semibold font-poppind
}

/* Common end  */

/* Headerpart Start  */
.menuUl {
   @apply md:flex gap-x-25 text-[#203239] font-semibold md:font-light md:text-base text-2xl font-poppind hidden 
}

.menuLi {
   @apply hover:font-semibold hover:text-[#203239] duration-200 cursor-pointer relative after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:h-1 after:w-5 hover:after:bg-[#FF7527] after:rounded
}

/* Headerpart End  */

/* Bannerpart Start  */
.banner h1 {
   @apply text-[#203239] text-3xl md:text-[56px] font-semibold font-poppind md:w-194 leading-[150%]
}

.banner p {
   @apply text-[#203239]/55 text-base font-light font-poppind md:w-136 leading-9 py-5 md:py-10
}

.bannerInput {
   @apply md:w-127 py-5 px-10 bg-white flex gap-x-2 font-light text-[#203239]/55 text-base font-poppind rounded-[15px]
}

.bannerBtn {
   @apply py-5 mt-2 md:mt-0 mx-auto block  md:ms-0 px-5 md:px-10 text-[#203239]/55 text-base font-poppind bg-white rounded-[15px] cursor-pointer font-light
}

/* Bannerpart End  */

/* Servicepart Start  */
.serviceShproperty {
   @apply py-5 px-9 border border-white hover:border-[#EEEDDE] relative after:absolute after:left-0 after:top-4 after:h-7.5 after:w-2 after:bg-[#FF7527] after:rounded-sm
}


.serviceH4Tg {
   @apply text-[#203239] text-base font-medium font-poppind
}

.serviceH5Tg {
   @apply text-[#FF7527] text-base font-medium font-poppind
}

.servicePTg {
   @apply text-[#203239]/55 text-base font-light font-poppind w-59 mt-5 leading-7
}

.serviceBtn {
   @apply text-[#203239] text-base font-medium font-poppind mt-8 md:mt-16
}

/* Servicepart End  */